<!DOCTYPE html>
<html>
	<head>
		<title>Favourites</title>
	</head>
	<body>
		<h1>Favourite websites</h1>
		<ul>
			<% @fav_links.each do |fav|%>
				<li><a href = <%= fav%>>hihi</a></li>
			<%end%>
		</ul>
	</body>
</html>